{% extends 'homework/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h5 class="card-title">{{ object.title }}</h5>
                    <img src="/media/previews/{{ blogpost.preview }}" class="card-img-top">
                    <p class="card-text">{{ object.content }}</p>
                    <p class="card-text">Дата создания: {{ object.created_at }}</p>
                    <p class="card-text">Количество просмотров: {{ object.views }}</p>
                    <a href="{% url 'homework:edit' object.pk %}" class="btn btn-primary">Редактировать</a>
                    <a href="{% url 'homework:delete' object.pk %}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}